language: ruby
sudo: false
rvm:
  - 2.3.0
  - 2.2.4
  - 2.1.8
  - 2.0.0
  - jruby
branches:
  only:
    - master
    - 2_stable
bundler_args: --without development
script: bundle exec rspec -fdoc
gemfile: Gemfile.travis
addons:
  code_climate:
    repo_token: 2877e253fb18735180e9c3f5faf075c3190b63fd720dc2a282751a4d50290fa8
